/* GlobalStyles.css */

h1 {
  font-family: 'Arial', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: #000000;
  margin: 0 !important;
}

h2 {
  font-family: 'Arial', sans-serif;
  font-size: 1.75rem;
  font-weight: bold;
  color: #000000;
  margin: 0 !important;
}

h3 {
  font-family: 'Arial', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: #000000;
  margin: 0 !important;
}

h4 {
  font-family: 'Arial', sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  color: #000000;
  margin: 0 !important;
}
