.itinerary-card {
  /* height: 300px;
  width: 300px; */
  height: 27rem;
  border: 2px;
  border-radius: 30px;
  border-color: pink;
  border-style: solid;
  overflow: hidden;
  cursor: pointer;
  margin: 10px;
  transition: transform 100ms ease-in;
  box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
}

.itinerary-card:hover {
  transform: scale(1.07);
}

.itinerary-card-image {
  height: 70%;
  object-fit:cover;
  width: 100%;
}

.itinerary-card-title {
  font-size: 18px;
  font-weight: 600;
  margin-top: 8px;
  margin-left: 2px;
  margin-right: 2px;
  word-break: break-word; /* Allows long words to break and wrap onto the next line */
  overflow-wrap: break-word; /* Ensures that long words or URLs break and wrap correctly */
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limits the text to 2 lines */
  -webkit-box-orient: vertical;
  text-overflow: ellipsis; /* Adds "..." at the end if the text is too long */
  line-height: 1.2em; /* Adjust line height if necessary */
  height: 2.4em; /* Adjust height to fit 2 lines */
  overflow: hidden; /* Ensures that excess text is hidden */
}

.itinerary-card-description {
  font-size: 14px;
  font-weight: 300;
  margin-top: 8px;
  margin-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  word-break: break-word; /* Allows long words to break and wrap onto the next line */
  overflow-wrap: break-word; /* Ensures that long words or URLs break and wrap correctly */
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Limits the text to 3 lines */
  -webkit-box-orient: vertical;
  text-overflow: ellipsis; /* Adds "..." at the end if the text is too long */
  line-height: 1.2em; /* Adjust line height if necessary */
  height: 3.6em; /* Adjust height to fit 3 lines */
  overflow: hidden; /* Ensures that excess text is hidden */
}

.itinerary-card-link {
  color: black;
  text-decoration: none;
}